html, body {
  height: 100%;
  width: 99%;
  background-color: black;
}
html {
  
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}


.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}
.logo {
    width: 150px;
}
.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #EEE;
}
.logo-wrapper h1 {
    color: #EEE;
}
#search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  width: 300px;
  background-color: #444;
  color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #f0f0f0;

  
}

.top-anime-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black

}

.top-anime {
  width: 200px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  
}

.top-anime img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.top-anime-title {
  color: #fff;
  font-size: 20px;
}

/* styles for images */
.image-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 14px;
  text-align: center;


}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 25px;
  cursor: pointer;
}
.image-container img:hover {
transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* styles for search bar */
.search-container {
  margin-top: 20px;
}

.search-container input[type="text"], .search-container button {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.search-container input[type="text"] {
  width: 70%;
}



.search-container input[type="text"]:focus, .search-container button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
