html, body {
  background-color: black;
}
body{
  color: white;
}
button {
  font-size: 16px;
  color: white;
  background-color: #010047;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}



#image-container {
  text-align: center;
}

#manga-image {
  max-width: 100%;
}

#title {
  margin-top: 20px;
}
